body{
    background-color: rgb(65, 66, 117);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100vh;

    margin: 0;
}

body > *{
    /* border: 1px solid red; */
}

.central-container{
    width: 40%;
    height: 54%;

    background-color: rgb(156, 156, 185);
    border-radius: 20px;

    box-shadow: 5px 5px 5px 4px #3d3c4e, -5px 5px 5px 4px #3d3c4e;
    border: 9px solid rgb(109, 112, 133);
}