body{
    background-color: rgb(65, 66, 117);

    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

body > *{
    box-sizing: border-box;
}


/*FLEX GROUPS*/

.central-container,
.result-container,
.result-background,
.buttons-container,
.buttons-background,
.row,
.button,
body{
    display: flex;
}

.result-container,
.buttons-container,
.button,
body{
    justify-content: center;
    align-items: center;
}

/*CENTRAL CONTAINER*/

.central-container > *{
    /* border: 1px solid red; */
}

.central-container{
    flex-direction: column;
    
    width: 500px;
    height: 680px;
    
    background-color: #9c9cb9;
    border-radius: 30px;
    
    box-shadow: 5px 5px 5px 4px #3d3c4e,
     -5px 5px 5px 4px #3d3c4e;
    border: 9px solid #777b9c;
}

/*RESULT CONTAINER*/


.result-container{
    height: 25%;
}

.result-background{
    background-color: rgb(158, 161, 206);
    align-items: center;
    justify-content: flex-end;

    width: 90%;
    height: 60%;

    border-radius: 20px;
    border: 5px solid #a3a3a7;
    box-shadow: 4px 3px 2px 2px #6d7085 inset,
    -4px -3px 2px 2px #6d7085 inset ;
}

.output-container{
    padding: 18px;
}

.output{
    font-size: 55px;
}

/*BUTTONS CONTAINER*/

.buttons-container{
    height: 75%;
    padding: 10px;
}

.buttons-background{
    flex-direction: column;

    background-color: #8484a7;
    border-radius: 15px;
    box-shadow: 4px 5px 2px 1px #6d7085 inset,
    -4px -5px 2px 1px #6d7085 inset;

    width: 96%;
    height: 95%;
}

/*ROWS*/

.row{
    padding: 10px;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.first-row.row{
    flex: 0;

    min-height: 55px;
}

/*BUTTONS*/

.button{
    background-color: rgb(83, 78, 151);
    border-radius: 100px;
    box-shadow: -2px -2px 10px 1px rgb(44, 40, 100) inset;

    width: 18%;
    height: 90%;

    cursor: pointer;
}

.button:active{
    transform: scale(0.92);
}